
pdfminer
PyPDF2
faiss-cpu
torch>=2.6.0
torchvision
torchaudio
pdfminer.six
accelerate>=1.1.0
language-tool-python
datasets
sentence-transformers 
chromadb 
pypdf
flask
flask-cors
tokenizers<=0.23.0
transformers==5.5.0
pdf2image
pytesseract
pillow
opencv-python
numpy
pandas
scikit-learn
scikit-image
llama-cpp-python
pdfplumber
chromadb
symspellpy
addict 
matplotlib
easydict
einops


--extra-index-url https://download.pytorch.org/whl/cu121